.main {
    display: grid;
    grid-template-columns: 0 160px 0 minmax(auto, 5fr) 0;
    grid-area: main;
    height: 100%;
    margin-left: 10px;
}
.main section {margin-bottom: 15px}

@media (max-width: 670px) {
    .main {margin-left: 0}
}