body {
    color: #313030;
}
* {
    line-height: 20px;
}

.app-wrapper {
    max-width: 3000px;
    margin: 0 auto;
    position: relative;

    min-height: 100vh;
    display: grid;
    grid-template-rows:
            minmax(70px, auto) [gap] 10px 1fr [gap2] 10px minmax(50px, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "gap"
        "main"
        "gap2"
        "footer";
}