.profile_card {
    grid-area: profile_card;

    display: flex;
    max-width: 430px;
    width: 100%;

    margin-right: 10px;
}
.profile_card__image {
    flex: 0 0 160px;
    position: relative;
    width: 160px;
    height: 140px;

    border-radius: 6px;
    overflow: hidden;

    margin-right: 10px;
}
.profile_card__image img {
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.profile_card__body {
    flex: 0 1 260px;
}
.profile_card__body .profile_card__name {
    font-size: 22px;
    margin-bottom: 7px;
}
.profile_card__body .profile_card__content {}