.item_dialogs {
    display: block;
    position: relative;

    transition: 0.2s;
    line-height: 20px;

    border-radius: 15px;
    margin-bottom: 10px;
}
.item_dialogs:hover {
    background-color: #ececec;
    color: #222222;
    font-weight: bold;
}
.item_dialogs:hover::before {
    width: 11px;
    height: 11px;
    background-image: url(../../../../../images/green_dot_hover.svg);
}
.item_dialogs::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 20px;
    width: 9px;
    height: 9px;
    background-image: url(../../../../../images/green_dot_2.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.item_dialogs__content {
    min-height: 100%;
    padding: 15px 10px 15px 31px;
}

.dialogs .active {
    background-color: #ececec;
    color: #222222;
    font-weight: bold;
}
.dialogs .active::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 20px;
    width: 11px;
    height: 11px;
    background-image: url(../../../../../images/green_dot_hover.svg);
    background-size: cover;
    background-repeat: no-repeat;
}