.form_login {}

.form_login input {
    display: block;
    border: 1px ridge gray;
}
.form_login button {
    display: block;
}

.form_login__username {}
.form_login__password {}
.form_login__button {}